## Project Overview
本项目是基于wxt实现浏览器扩展，功能为通过读取网页内容，发送给大模型，获取评论。

## Feature Design Phase
你需要理解我提出的需求，如果有不明白的地方，让我进一步说明解释。
当你理解之后，结合当前项目的已有代码进行分析，指定开发任务计划。
之后你需要将任务总结为需求描述+todo列表的形式，保存为markdown，存放在`/docs/frd`下。

指定计划时，必须遵循以下原则
- DRY (Don't repeat yourself) 高效复用既有代码
- KISS (Keep it simple stupid) 不要做多余的设计，能完成需求即可

## Feature Implementation Phase
仔细查看我的需求文档，理解我的需求。
然后再查看项目当前的代码，理解已有功能和已实现的功能。
确认以上两点后，即可以根据需求文档里的任务列表进行开发。每完成一个小任务，就更新下文档。
